<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melden</title>
    
    <%- include('nav') %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
    <div class="alert alert-success" role="alert" id="successAlert" style="display: none;">        
        <h4 class="alert-heading">Danke!</h4>
        <p>Deine Meldung wurde erfolgreich gespeichert. <a href="overview" class="alert-link">Hier findest du eine Übersicht deiner Meldungen</a>.</p>
    </div>
      
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">Melden</h1>
                <form action="/report" method="POST" id="report-form" enctype="multipart/form-data" onsubmit="showSuccessMessage()">
                    <div class="form-group">
                        <label for="modul">Modul:</label>
                        <select class="form-control" id="modul" name="modul" required>
                            <option value="ISEF01">ISEF01</option>
                            <option value="IREN01">IREN01</option>
                            <option value="ISSE01">ISSE01</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="class">Klasse:</label>
                        <select class="form-control" id="class" name="class" required>
                            <option value="Fehler">Fehler</option>
                            <option value="Verbesserung">Verbesserung</option>
                            <option value="Erweiterung">Erweiterung</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="category">Kategorie:</label>
                        <select class="form-control" id="category" name="category" required>
                            <option value="inhaltlich">inhaltlich</option>
                            <option value="sprachlich">sprachlich</option>
                            <option value="technisch">technische</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="resource">Ressource:</label>
                        <select class="form-control" id="resource" name="resource" required>
                            <option value="Script">Script</option>
                            <option value="Interactive Script">Interactive Script</option>
                            <option value="Musterklausur">Musterklausur</option>
                            <option value="Online Test">Online Test</option>
                            <option value="Präsentation">Präsentation</option>
                            <option value="Vodcast">Vodcast</option>
                            <option value="Podcast">Podcast</option>
                            <option value="Library Service">Library Service</option>
                        </select>
                    </div>

                    <div class="form-group" id="minuteGroup">
                        <label for="minute">Minute:</label>
                        <input type="number" class="form-control" id="minute" name="minute">
                    </div>
                    
                    <div class="form-group" id="seiteGroup">
                        <label for="seite">Seite:</label>
                        <input type="number" class="form-control" id="seite" name="seite">
                    </div>
                    

                    <div class="form-group">
                        <label for="screenshot">Screenshot:</label>
                        <input type="file" class="form-control-file" id="screenshot" name="screenshots">
                    </div>

                    <div class="form-group">
                        <label for="comment">Kommentar:</label>
                        <textarea class="form-control" id="comment" name="comment" rows="4" maxlength="255" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-custom btn-block">Fehler melden</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function() {
            // Überprüfen, ob die URL den Parameter "success" enthält
            const urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('success')) {
                $('#successAlert').show(); // Zeige den Alert
            }

            // Zeigen Sie die relevanten Felder beim Laden der Seite basierend auf der anfänglichen Auswahl an
            toggleFields();

            // Überwachen Sie Änderungen am Dropdown "Ressource"
            $('#resource').on('change', function() {
                toggleFields();
            });

            function toggleFields() {
            const selectedResource = $('#resource').val();
            if (selectedResource === 'Vodcast' || selectedResource === 'Podcast') {
                $('#minuteGroup').show();
                $('#seiteGroup').hide();
                $('#minute').prop('required', true); // Markieren Sie das "Minute"-Feld als Pflichtfeld
                $('#seite').prop('required', false); // "Seite"-Feld nicht als Pflichtfeld markieren
                // Löschen Sie den Inhalt des "Seite"-Feldes
                $('#seite').val('');
            }else if (selectedResource === 'Script' || selectedResource === 'Interactive Script' || selectedResource === 'Musterklausur' || selectedResource === 'Online Test' || selectedResource === 'Präsentation') {
                $('#minuteGroup').hide();
                $('#seiteGroup').show();
                $('#seite').prop('required', true); // Markieren Sie das "Seite"-Feld als Pflichtfeld
                $('#minute').prop('required', false); // "Minute"-Feld nicht als Pflichtfeld markieren
                // Löschen Sie den Inhalt des "Minute"-Feldes
                $('#minute').val('');
            } else {
                // Verstecken Sie beide Felder, wenn keine gültige Auswahl getroffen wurde
                $('#minuteGroup').hide();
                $('#seiteGroup').hide();
                $('#minute').prop('required', false); // Beide Felder nicht als Pflichtfelder markieren
                $('#seite').prop('required', false);
                // Löschen Sie den Inhalt beider Felder
                $('#minute').val('');
                $('#seite').val('');
            }
        }
        });
    </script>
</body>
</html>
